<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martinmei.kiroshihealth">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiroshiHealth">

        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.KiroshiHealthStatusBarColorYellow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts"
            android:screenOrientation="portrait"
            />
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.DoctorDataPatientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.AppointmentPatientListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.AppointmentDetailPatientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.DetailPrescriptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.PatientPrescriptionsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.CreateAppointmentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.EditPatientDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.MyPatientDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.EditDoctorDataActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.MyDataDoctorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.PatientDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.AppointmentListDoctorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.PatientsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.DoctorMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.PrescriptionManagementActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.doctor.AccessDniDoctorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.AccessDniPatientActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.patient.PatientsMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>