<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martinmei.kiroshihealth">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KiroshiHealth">
        <activity android:name=".activities.patient.DoctorDataPatientActivity"></activity>
        <activity android:name=".activities.patient.AppointmentPatientListActivity" />
        <activity android:name=".activities.patient.AppointmentDetailActivity" />
        <activity android:name=".activities.patient.DetailPrescriptionActivity" />
        <activity android:name=".activities.patient.PatientPrescriptionsListActivity" />
        <activity android:name=".activities.patient.CreateAppointmentActivity" />
        <activity android:name=".activities.patient.EditPatientDataActivity" />
        <activity android:name=".activities.patient.MyPatientDataActivity" />
        <activity android:name=".activities.doctor.EditDoctorDataActivity" />
        <activity android:name=".activities.doctor.MyDataDoctorActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".activities.doctor.PatientDetailActivity" />
        <activity android:name=".activities.doctor.ApointmentListDoctorActivity" />
        <activity android:name=".activities.doctor.PatientsListActivity" />
        <activity android:name=".activities.doctor.DoctorMenuActivity" />
        <activity android:name=".activities.doctor.PrescriptionManagementActivity" />
        <activity android:name=".activities.doctor.AccessDniDoctorActivity" />
        <activity android:name=".activities.patient.AccessDniPatientActivity" />
        <activity android:name=".activities.patient.PatientsMenuActivity" />
        <activity android:name=".activities.RegisterActivity" />
    </application>

</manifest>